<launch>
    <!-- <include file="$(find keyboard_control_tello)/launch/keyboard_control_tello.launch"> -->
    <!-- </include> -->
    <!-- <node pkg="image_transport" name="image_compressed1" type="republish" args="h264 in:=/tello/image_raw raw out:=raw_image" /> -->
    <node pkg="aruco_positioning_SIM" type="keyboard_input" name="keyboard_input" output="screen"/>
	<node pkg="aruco_positioning_SIM" type="fly_cmd.py" name="cmd" output="screen"/>
	<node pkg="aruco_positioning_SIM" type="aruco_positioning.py" name="aruco_positioning" output="screen"/>
    <node pkg="aruco_positioning_SIM" type="controller.py" name="controller" output="screen"/>
    <!-- <node pkg="aruco_positioning_SIM" type="center.py" name="center" output="screen"/> -->
    <node pkg="aruco_positioning_SIM" type="detect_target.py" name="detect_target" output="screen"/>
    <node pkg="aruco_positioning_SIM" type="calculate_target_pose.py" name="calculate_target_pose" output="screen"/>
    <!-- <node name="record_topics_for_verification" pkg="rosbag" type="record" output="screen"
        args="-o data1 /x /y /z /roll /pitch /yaw /desired_x /desired_y /desired_y /desired_z /desired_yaw /controller_on /marker_detected /camera/color/image_raw /cmd_vel_linear_x /cmd_vel_linear_y /cmd_vel_linear_z /cmd_vel_angular_z /ground_truth/state"/>  -->
    <node name="record_topics_for_verification" pkg="rosbag" type="record" output="screen"
        args="-o data1 /x /y /z /roll /pitch /yaw /marker_detected /transformation_array_positioning 
                       /target_detected /transformation_array_target /target_x /target_y /target_z /target_roll /target_pitch /target_yaw 
                       /cmd_vel /cmd_vel_linear_x /cmd_vel_linear_y /cmd_vel_linear_z /cmd_vel_angular_z 
                       /ardrone/takeoff /desired_x /desired_y /desired_z /desired_yaw /controller_on 
                       /ardrone/land /ground_truth/state"/> 
</launch>